In [1]:
import pandas as pd
df1 = pd.read_csv("data/housing_dataset.csv")
print("df1 shape:", df1.shape)
print("df1 type:", type(df1))
df1.head(10)
df1.info()

df1 shape: (186, 16)
df1 type: <class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 186 entries, 0 to 185
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   link              186 non-null    object
 1   name              184 non-null    object
 2   price             184 non-null    object
 3   locality          186 non-null    object
 4   region            186 non-null    object
 5   postal_code       186 non-null    int64
 6   address           186 non-null    object
 7   latitude          186 non-null    float64
 8   longitude         186 non-null    float64
 9   images            2 non-null      object
 10  description       186 non-null    object
 11  bedrooms          183 non-null    object
 12  bathrooms         186 non-null    int64
 13  floor_size_sq_ft  175 non-null    object
 14  uniq_id           186 non-null    object
 15  scraped_at        186 non-null    object
dtypes: float64(2), int64(2), object(12)
memory usage: 14.6+ KB

In [2]:
df1 = df1.drop('link', axis=1)
df1.head(10)

,name,price,locality,region,postal_code,address,latitude,longitude,images,description,bedrooms,bathrooms,floor_size_sq_ft,uniq_id,scraped_at
0,"10125 Baffin Dr, San Diego, CA 92126","$816,480",San Diego,CA,92126,10125 Baffin Dr,32.900981,-117.153876,NaN,This Single Family Residence is located at 101...,3,2,"1,134",8b174963-ff1e-5783-bd6a-fdfa28999104,01/07/2022 18:13:41
1,"78345 Terra Cotta Ct, La Quinta, CA 92253","$416,694",La Quinta,CA,92253,78345 Terra Cotta Ct,33.727888,-116.297511,NaN,This Condominium is located at 78345 Terra Cot...,2,2,912,9add4ef2-73df-5085-972a-70c81dd5b0ac,01/07/2022 18:13:41
2,"469 Sandpiper St, Banning, CA 92220","$365,040",Banning,CA,92220,469 Sandpiper St,33.923569,-116.935236,NaN,This Single Family Residence is located at 469...,2,2,"1,471",aaab3409-c6c3-5bc3-897c-5b4425492532,01/07/2022 18:13:41
3,"18620 Hatteras St 257, Tarzana, CA 91356","$366,444",Tarzana,CA,91356,18620 Hatteras St 257,34.176364,-118.539319,NaN,This Condominium is located at 18620 Hatteras ...,2,2,910,3f17b279-2a0f-5c56-9bb7-7c998f535953,01/07/2022 18:13:41
4,"2075 Mendocino St, Seaside, CA 93955","$896,416",Seaside,CA,93955,2075 Mendocino St,36.620651,-121.829274,NaN,This Single Family Residence is located at 207...,3,2,"1,333",01a2f60e-496f-5886-a59d-103097ebb544,01/07/2022 18:13:42
5,"6212 Gretchen Ct, Fontana, CA 92336","$863,704",Fontana,CA,92336,6212 Gretchen Ct,34.141112,-117.468321,NaN,This Single Family Residence is located at 621...,4,2,"2,921",6ee153d9-6438-5d62-ae58-b655eb873646,01/07/2022 18:13:42
6,"5879 Sailing Hawk Ave, Santa Rosa, CA 95409","$1,439,471",Santa Rosa,CA,95409,5879 Sailing Hawk Ave,38.466291,-122.634455,NaN,This Single Family Residence is located at 587...,4,5,"3,704",daa159dd-27da-5301-a0ce-81a49b34c8c6,01/07/2022 18:13:42
7,"2563 Gayle Ln, Auburn, CA 95602","$408,100",Auburn,CA,95602,2563 Gayle Ln,38.973151,-121.068109,NaN,This Single Family Residence is located at 256...,3,3,"2,263",54b766c5-c640-5491-8562-1033738c5b90,01/07/2022 18:13:42
8,"5451 N State St, Fresno, CA 93722","$354,240",Fresno,CA,93722,5451 N State St,36.816648,-119.887379,NaN,This Single Family Residence is located at 545...,3,1,"1,269",e54e4bdb-3323-5524-85ec-fb6588406a4b,01/07/2022 18:13:42
9,"8801 Haveteur Way, San Diego, CA 92123","$835,596",San Diego,CA,92123,8801 Haveteur Way,32.807714,-117.139024,NaN,This Single Family Residence is located at 880...,4,2,"1,344",acbc1177-ae8b-5b7f-8fce-0020daddef0b,01/07/2022 18:13:43

In [3]:
df1 = df1.drop('images', axis=1)
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 186 entries, 0 to 185
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   name              184 non-null    object
 1   price             184 non-null    object
 2   locality          186 non-null    object
 3   region            186 non-null    object
 4   postal_code       186 non-null    int64
 5   address           186 non-null    object
 6   latitude          186 non-null    float64
 7   longitude         186 non-null    float64
 8   description       186 non-null    object
 9   bedrooms          183 non-null    object
 10  bathrooms         186 non-null    int64
 11  floor_size_sq_ft  175 non-null    object
 12  uniq_id           186 non-null    object
 13  scraped_at        186 non-null    object
dtypes: float64(2), int64(2), object(10)
memory usage: 13.1+ KB

In [4]:
df1 = df1.dropna()
print("df1 type:", type(df1))
print("df1 shape:", df1.shape)
df1.head()

df1 type: <class 'pandas.core.frame.DataFrame'>
df1 shape: (172, 14)

,name,price,locality,region,postal_code,address,latitude,longitude,description,bedrooms,bathrooms,floor_size_sq_ft,uniq_id,scraped_at
0,"10125 Baffin Dr, San Diego, CA 92126","$816,480",San Diego,CA,92126,10125 Baffin Dr,32.900981,-117.153876,This Single Family Residence is located at 101...,3,2,"1,134",8b174963-ff1e-5783-bd6a-fdfa28999104,01/07/2022 18:13:41
1,"78345 Terra Cotta Ct, La Quinta, CA 92253","$416,694",La Quinta,CA,92253,78345 Terra Cotta Ct,33.727888,-116.297511,This Condominium is located at 78345 Terra Cot...,2,2,912,9add4ef2-73df-5085-972a-70c81dd5b0ac,01/07/2022 18:13:41
2,"469 Sandpiper St, Banning, CA 92220","$365,040",Banning,CA,92220,469 Sandpiper St,33.923569,-116.935236,This Single Family Residence is located at 469...,2,2,"1,471",aaab3409-c6c3-5bc3-897c-5b4425492532,01/07/2022 18:13:41
3,"18620 Hatteras St 257, Tarzana, CA 91356","$366,444",Tarzana,CA,91356,18620 Hatteras St 257,34.176364,-118.539319,This Condominium is located at 18620 Hatteras ...,2,2,910,3f17b279-2a0f-5c56-9bb7-7c998f535953,01/07/2022 18:13:41
4,"2075 Mendocino St, Seaside, CA 93955","$896,416",Seaside,CA,93955,2075 Mendocino St,36.620651,-121.829274,This Single Family Residence is located at 207...,3,2,"1,333",01a2f60e-496f-5886-a59d-103097ebb544,01/07/2022 18:13:42

In [5]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 172 entries, 0 to 185
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   name              172 non-null    object
 1   price             172 non-null    object
 2   locality          172 non-null    object
 3   region            172 non-null    object
 4   postal_code       172 non-null    int64
 5   address           172 non-null    object
 6   latitude          172 non-null    float64
 7   longitude         172 non-null    float64
 8   description       172 non-null    object
 9   bedrooms          172 non-null    object
 10  bathrooms         172 non-null    int64
 11  floor_size_sq_ft  172 non-null    object
 12  uniq_id           172 non-null    object
 13  scraped_at        172 non-null    object
dtypes: float64(2), int64(2), object(10)
memory usage: 13.4+ KB

In [21]:
# df1["price"]=df1["price"].str.replace(",", "").str.replace("$","")
# df1["price"] = df1["price"].astype(float)
# df1['price'] = pd.to_numeric(df1['price'], errors='coerce')
# df1["bedrooms"] = df1["bedrooms"].astype(int)
# df1['bedrooms'] = df1['bedrooms'].str.extract('(\d+)').astype(float).fillna(0).astype(int)
df1["floor_size_sq_ft"]= df1["floor_size_sq_ft"].str.replace(",","")
df1["floor_size_sq_ft"] = df1["floor_size_sq_ft"].astype(float)
df1.info()
df1.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 172 entries, 0 to 185
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   name              172 non-null    object
 1   price             164 non-null    float64
 2   locality          172 non-null    object
 3   region            172 non-null    object
 4   postal_code       172 non-null    int64
 5   address           172 non-null    object
 6   latitude          172 non-null    float64
 7   longitude         172 non-null    float64
 8   description       172 non-null    object
 9   bedrooms          172 non-null    int32
 10  bathrooms         172 non-null    int64
 11  floor_size_sq_ft  172 non-null    float64
 12  uniq_id           172 non-null    object
 13  scraped_at        172 non-null    object
dtypes: float64(4), int32(1), int64(2), object(7)
memory usage: 14.8+ KB

,name,price,locality,region,postal_code,address,latitude,longitude,description,bedrooms,bathrooms,floor_size_sq_ft,uniq_id,scraped_at
0,"10125 Baffin Dr, San Diego, CA 92126",816480.0,San Diego,CA,92126,10125 Baffin Dr,32.900981,-117.153876,This Single Family Residence is located at 101...,3,2,1134.0,8b174963-ff1e-5783-bd6a-fdfa28999104,01/07/2022 18:13:41
1,"78345 Terra Cotta Ct, La Quinta, CA 92253",416694.0,La Quinta,CA,92253,78345 Terra Cotta Ct,33.727888,-116.297511,This Condominium is located at 78345 Terra Cot...,2,2,912.0,9add4ef2-73df-5085-972a-70c81dd5b0ac,01/07/2022 18:13:41
2,"469 Sandpiper St, Banning, CA 92220",365040.0,Banning,CA,92220,469 Sandpiper St,33.923569,-116.935236,This Single Family Residence is located at 469...,2,2,1471.0,aaab3409-c6c3-5bc3-897c-5b4425492532,01/07/2022 18:13:41
3,"18620 Hatteras St 257, Tarzana, CA 91356",366444.0,Tarzana,CA,91356,18620 Hatteras St 257,34.176364,-118.539319,This Condominium is located at 18620 Hatteras ...,2,2,910.0,3f17b279-2a0f-5c56-9bb7-7c998f535953,01/07/2022 18:13:41
4,"2075 Mendocino St, Seaside, CA 93955",896416.0,Seaside,CA,93955,2075 Mendocino St,36.620651,-121.829274,This Single Family Residence is located at 207...,3,2,1333.0,01a2f60e-496f-5886-a59d-103097ebb544,01/07/2022 18:13:42

In [25]:
# save csv
df1.to_csv("data/housing_dataset_clean.csv", index=False)